@model IEnumerable<FurrySystem.DataLayer.CustomerPhoneOrder>

@{
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OrderDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Tariff)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsIpTelephone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Disabled)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DisabledDate)
			</th>
			<th class="controls-slim"></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tariff.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsIpTelephone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Disabled)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DisabledDate)
				</td>
				<td>
					@if (!item.Disabled)
					{
						using (Html.BeginForm("DeletePhoneOrder", "CustomersOrders", new { id = item.Id }))
						{
							@Html.AntiForgeryToken()
							@Html.Hidden("customerId", item.Customer.Id)
							<input type="submit" value="Disable" class="btn btn-default" />
						}
					}
				</td>
			</tr>
		}
	</table>
}