@model FurrySystem.Models.CustomerPhoneOrderModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Internet order</h4>
		<hr />
		@Html.ValidationSummary(true)
		@Html.HiddenFor(x => x.CustomerId)

		<div class="form-group">
			@Html.LabelFor(model => model.TariffId, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.TariffId, new SelectList(Model.Tariffs, "Id", "Name"))
				@Html.ValidationMessageFor(model => model.TariffId)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.IsIpTelephone, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.IsIpTelephone)
				@Html.ValidationMessageFor(model => model.IsIpTelephone)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to Customer", "Details", "Customers", new {id = Model.CustomerId}, null)
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}