@model FurrySystem.Models.CustomerDetailsModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Customer</h4>
	<hr/>
	<dl class="dl-horizontal">
		@Html.Partial("_CustomerDetailsPartial", Model.Customer)
	</dl>

	<hr/>

	<h4>Internet orders</h4>
	@Html.Partial("_CustomerInternetOrders", Model.CustomerInternetOrders)
	<p>@Html.ActionLink("Add new", "CreateInternetOrder", "CustomersOrders", new {id = Model.Customer.Id}, null)</p>

	<hr />

	<h4>Phone orders</h4>
	@Html.Partial("_CustomerPhoneOrders", Model.CustomerPhoneOrders)
	<p>@Html.ActionLink("Add new", "CreatePhoneOrder", "CustomersOrders", new { id = Model.Customer.Id }, null)</p>


</div>
<p>
	@Html.ActionLink("Edit", "Edit", new {id = Model.Customer.Id}) |
	@Html.ActionLink("Back to List", "Index")
</p>